{% load static %}<!doctype html>
<html lang="fr">
<head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Django login screen module">
    <meta name="keywords" content="HTML,CSS,Python,Django">
    <meta name="author" content="Franc SERRES">
    <meta name="dcterms.rightsHolder" content="GNU General Public License 3">
    <meta name="dcterms.rights" content="http://www.gnu.org/licenses/gpl-3.0.fr.html">
    <meta name="dcterms.dateCopyrighted" content="2016">
    {% block meta %}{% endblock %}
    <!-- endMetas -->
    <!-- Title -->
    <title>{% block title %}GOCEA{% endblock %}</title>
    <!-- endTitle -->
    <!-- Links -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    {% block links %}{% endblock %}
    <!-- endLinks -->
    <!-- Styles -->
    <link rel='stylesheet'  type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    {% block styles %}{% endblock %}
    <!-- endStyles -->
    <!-- Scripts -->
    {% block javascript %}{% endblock %}
    <!-- endScripts -->
</head>
<body role="document">
<header role="banner">
    {% block header %}{% endblock %}
</header>
    
<main role="main">{% block content %}{% endblock %}</main>

<footer role="footer">{% block footer %}{% endblock %}</footer>

{% block scripts %}<!-- Scripts -->{% endblock %}
</body>
</html>
