/*fichier animation_wallpapers.less*/ 
/*GPL V3*/

@import 'path_wallpapers';

// Variables
@piture_background: extract(@wallpapers, 1);
@animation-background-name: slideshow;
@animation-background-duration: 10s;
@animation-background-timing-function: none;
@animation-background-delay: none;
@animation-background-iteration-count: infinite;
@animation-background-direction: none;
@animation-background-fill-mode: none;
@animation-background-play-state: none;
@animation-panel-name: fadeslide;
@animation-panel-duration: 1s;
@animation-panel-timing-function: none;
@animation-panel-delay: none;
@animation-panel-iteration-count: 1;
@animation-panel-direction: none;
@animation-panel-fill-mode: none;
@animation-panel-play-state: none;

//animation-duration: 50s; @animation-iteration-count: infinite; 
@keyframes slideshow {
    .generate-animated-wallpapers();
}

.generate-animated-wallpapers(@i: length(@wallpapers)) when (@i > 0) {
    @picture: extract(@wallpapers, @i);
    @keyframeitem: @i/length(@wallpapers)*100%;
    @{keyframeitem}{background: @picture no-repeat fixed center center; background-size: cover;}
    .generate-animated-wallpapers((@i - 1));
}

//animation-duration: .5s; @animation-iteration-count: none; 
@keyframes fadeslide {
    0% {
      opacity:0;
      transform: scale(0) rotate(360deg);
    }
    60% {
      transform: scale(0.8) rotate(-10deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
}

.animation_background(){
    animation-name: @animation-background-name;
    animation-duration: @animation-background-duration;
    animation-timing-function: @animation-background-timing-function;
    animation-delay: @animation-background-delay;
    animation-iteration-count: @animation-background-iteration-count;
    animation-direction: @animation-background-direction;
    animation-fill-mode: @animation-background-fill-mode;
    animation-play-state: @animation-background-play-state;
}

.animation_panel(){
    animation-name: @animation-panel-name;
    animation-duration: @animation-panel-duration;
    animation-timing-function: @animation-panel-timing-function;
    animation-delay: @animation-panel-delay;
    animation-iteration-count: @animation-panel-iteration-count;
    animation-direction: @animation-panel-direction;
    animation-fill-mode: @animation-panel-fill-mode;
    animation-play-state: @animation-panel-play-state;
}
