/*fichier dialog.less*/ 
/*GPL V3*/

// Variables
@userpicture: url('/static/img/user.png');
@passwordpicture: url('/static/img/password.png');

section {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
    h1 {
        text-align: center;
        color: #000;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
    };
    form {
        input {
            width: 100%;
            height: 42px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 20px;
            font-size: 14px;
            font-family: Montserrat;
            padding: 0 20px 0 50px;
            outline: none;
            &.nickname {
                background: #fff @userpicture 20px top no-repeat;
                background-size: 16px 80px;
                &:focus {
                    background: #fff @userpicture 20px bottom no-repeat;
                    background-size: 16px 80px;
                };
            };
            &.password {
                background: #fff @passwordpicture 20px top no-repeat;
                background-size: 16px 80px;
                &:focus {
                    background: #fff @passwordpicture 20px bottom no-repeat;
                    background-size: 16px 80px;
                };
            };
            &:active {
                border: 1px solid #ff656c;
            };
            &:focus {
                border: 1px solid #ff656c;
            };
        };
        button {
            width: 100%;
            height: 40px;
            background: #ff656c;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid #e15960;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            font-family: Montserrat;
            outline: none;
            cursor: pointer;
            &:hover {
                background: #ff7b81;
            };
        };
    };
}
