﻿/* django.CSS 1.0 August 2018 by franc serres */
html{
  box-sizing:border-box;
}
*,*:before,*:after{
  box-sizing:inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body{
  margin:0;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block;
}
audio,canvas,progress,video{
  display:inline-block;
}
progress{
  vertical-align:baseline;
}
audio:not([controls]){
  display:none;
  height:0;
}
[hidden],template{
  display:none;
}
a{
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}
a:active,a:hover{
  outline-width:0;
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  text-decoration:underline dotted;
}
dfn{
  font-style:italic;
}
mark{
  background:#ff0;
  color:#000;
}
small{
  font-size:80%;
}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sub{
  bottom:-0.25em;
}
sup{
  top:-0.5em;
}
figure{
  margin:1em 40px;
}
img{
  border-style:none;
}
svg:not(:root){
  overflow:hidden;
}
code,kbd,pre,samp{
  font-family:monospace,monospace;
  font-size:1em;
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}
button,input,select,textarea{
  font:inherit;
  margin:0;
}
optgroup{
  font-weight:bold;
}
button,input{
  overflow:visible;
}
button,select{
  text-transform:none;
}
button,html [type=button],[type=reset],[type=submit]{
  -webkit-appearance:button;
}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{
  border-style:none;
  padding:0;
}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{
  outline:1px dotted ButtonText;
}
fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:.35em .625em .75em;
}
legend{
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}
textarea{
  overflow:auto;
}
[type=checkbox],[type=radio]{
  padding:0;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
  height:auto;
}
[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-input-placeholder{
  color:inherit;
  opacity:0.54;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
/* End extract */
html,body{
  font-family:'Noto Sans',sans-serif;
  font-size:15px;
  line-height:1.5;
}
html{
  overflow-x:hidden;
}
h1{
  font-size:36px;
}
h2{
  font-size:30px;
}
h3{
  font-size:24px;
}
h4{
  font-size:20px;
}
h5{
  font-size:18px;
}
h6{
  font-size:16px;
}
hr{
  border:0;
  border-top:1px solid #eee;
  margin:20px 0;
}
img{vertical-align:middle}
a{color:inherit}
h1,h2,h3,h4,h5,h6{font-family:"Noto",Arial,sans-serif;font-weight:400;margin:10px 0}
.django-serif{font-family:serif}
.django-wide{letter-spacing:4px}
.django-image{max-width:100%;height:auto}
.django-table,.django-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
.django-table-all{border:1px solid #ccc}
.django-bordered tr,.django-table-all tr{border-bottom:1px solid #ddd}
.django-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.django-table-all tr:nth-child(odd){background-color:#fff}
.django-table-all tr:nth-child(even){background-color:#f1f1f1}
.django-hoverable tbody tr:hover,.django-ul.django-hoverable li:hover{background-color:#ccc}
.django-centered tr th,.django-centered tr td{text-align:center}
.django-table td,.django-table th,.django-table-all td,.django-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.django-table th:first-child,.django-table td:first-child,.django-table-all th:first-child,.django-table-all td:first-child{padding-left:16px}
.django-btn,.django-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.django-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.django-btn,.django-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.django-disabled,.django-btn:disabled,.django-button:disabled{cursor:not-allowed;opacity:0.3}
.django-disabled *,:disabled *{pointer-events:none}
.django-btn.django-disabled:hover,.django-btn:disabled:hover{box-shadow:none}
.django-badge,.django-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.django-badge{border-radius:50%}
.django-ul{list-style-type:none;padding:0;margin:0}
.django-ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.django-ul li:last-child{border-bottom:none}
.django-tooltip,.django-display-container{position:relative}
.django-tooltip .django-text{display:none}
.django-tooltip:hover .django-text{display:inline-block}
.django-ripple:active{opacity:0.5}
.django-ripple{transition:opacity 0s}
.django-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.django-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.django-dropdown-click,.django-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.django-dropdown-hover:hover .django-dropdown-content{display:block}
.django-dropdown-hover:first-child,.django-dropdown-click:hover{background-color:#ccc;color:#000}
.django-dropdown-hover:hover > .django-button:first-child,.django-dropdown-click:hover > .django-button:first-child{background-color:#ccc;color:#000}
.django-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.django-check,.django-radio{width:24px;height:24px;position:relative;top:6px}
.django-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.django-bar-block .django-dropdown-hover,.django-bar-block .django-dropdown-click{width:100%}
.django-bar-block .django-dropdown-hover .django-dropdown-content,.django-bar-block .django-dropdown-click .django-dropdown-content{min-width:100%}
.django-bar-block .django-dropdown-hover .django-button,.django-bar-block .django-dropdown-click .django-button{width:100%;text-align:left;padding:8px 16px}
.django-main,#main{transition:margin-left .4s}
.django-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.django-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.django-bar{width:100%;overflow:hidden}
.django-center .django-bar{display:inline-block;width:auto}
.django-bar .django-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.django-bar .django-dropdown-hover,.django-bar .django-dropdown-click{position:static;float:left}
.django-bar .django-button{white-space:normal}
.django-bar-block .django-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.django-bar-block.django-center .django-bar-item{text-align:center}
.django-block{display:block;width:100%}
.django-responsive{display:block;overflow-x:auto}
.django-container:after,.django-container:before,.django-panel:after,.django-panel:before,.django-row:after,.django-row:before,.django-row-padding:after,.django-row-padding:before,
.django-cell-row:before,.django-cell-row:after,.django-clear:after,.django-clear:before,.django-bar:before,.django-bar:after{content:"";display:table;clear:both}
.django-col,.django-half,.django-third,.django-twothird,.django-threequarter,.django-quarter{float:left;width:100%}
.django-col.s1{width:8.33333%}
.django-col.s2{width:16.66666%}
.django-col.s3{width:24.99999%}
.django-col.s4{width:33.33333%}
.django-col.s5{width:41.66666%}
.django-col.s6{width:49.99999%}
.django-col.s7{width:58.33333%}
.django-col.s8{width:66.66666%}
.django-col.s9{width:74.99999%}
.django-col.s10{width:83.33333%}
.django-col.s11{width:91.66666%}
.django-col.s12{width:99.99999%}
@media (min-width:601px){
  .django-col.m1{width:8.33333%}
  .django-col.m2{width:16.66666%}
  .django-col.m3,.django-quarter{width:24.99999%}
  .django-col.m4,.django-third{width:33.33333%}
  .django-col.m5{width:41.66666%}
  .django-col.m6,.django-half{width:49.99999%}
  .django-col.m7{width:58.33333%}
  .django-col.m8,.django-twothird{width:66.66666%}
  .django-col.m9,.django-threequarter{width:74.99999%}
  .django-col.m10{width:83.33333%}
  .django-col.m11{width:91.66666%}
  .django-col.m12{width:99.99999%}
}
@media (min-width:993px){
  .django-col.l1{width:8.33333%}
  .django-col.l2{width:16.66666%}
  .django-col.l3{width:24.99999%}
  .django-col.l4{width:33.33333%}
  .django-col.l5{width:41.66666%}
  .django-col.l6{width:49.99999%}
  .django-col.l7{width:58.33333%}
  .django-col.l8{width:66.66666%}
  .django-col.l9{width:74.99999%}
  .django-col.l10{width:83.33333%}
  .django-col.l11{width:91.66666%}
  .django-col.l12{width:99.99999%}
}
.django-content{max-width:980px;margin:auto}
.django-rest{overflow:hidden}
.django-cell-row{display:table;width:100%}
.django-cell{display:table-cell}
.django-cell-top{vertical-align:top}
.django-cell-middle{vertical-align:middle}
.django-cell-bottom{vertical-align:bottom}
.django-hide{display:none!important}
.django-show-block,.django-show{display:block!important}
.django-show-inline-block{display:inline-block!important}
@media (max-width:600px){
  .django-modal-content{margin:0 10px;width:auto!important}
  .django-modal{padding-top:30px}
  .django-dropdown-hover.django-mobile .django-dropdown-content,.django-dropdown-click.django-mobile .django-dropdown-content{position:relative}	
  .django-hide-small{display:none!important}
  .django-mobile{display:block;width:100%!important}
  .django-bar-item.django-mobile,.django-dropdown-hover.django-mobile,.django-dropdown-click.django-mobile{text-align:center}
  .django-dropdown-hover.django-mobile,.django-dropdown-hover.django-mobile .django-btn,.django-dropdown-hover.django-mobile .django-button,.django-dropdown-click.django-mobile,.django-dropdown-click.django-mobile .django-btn,.django-dropdown-click.django-mobile .django-button{width:100%}
}
@media (max-width:768px){
  .django-modal-content{width:500px}
  .django-modal{padding-top:50px}
}
@media (min-width:993px){
  .django-modal-content{width:900px}
  .django-hide-large{display:none!important}
  .django-sidebar.django-collapse{display:block!important}
}
@media (max-width:992px) and (min-width:601px){
  .django-hide-medium{display:none!important}
}
@media (max-width:992px){
  .django-sidebar.django-collapse{display:none}
  .django-main{margin-left:0!important;margin-right:0!important}}
  .django-top,.django-bottom{position:fixed;width:100%;z-index:1}
  .django-top{top:0}
  .django-bottom{bottom:0}
  .django-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
  .django-display-topleft{position:absolute;left:0;top:0}
  .django-display-topright{position:absolute;right:0;top:0}
  .django-display-bottomleft{position:absolute;left:0;bottom:0}
  .django-display-bottomright{position:absolute;right:0;bottom:0}
  .django-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
  .django-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
  .django-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
  .django-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
  .django-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
  .django-display-container:hover .django-display-hover{display:block}
  .django-display-container:hover span.django-display-hover{display:inline-block}
  .django-display-hover{display:none}
  .django-display-position{position:absolute}
  .django-circle{border-radius:50%}
  .django-round-small{border-radius:2px}
  .django-round,.django-round-medium{border-radius:4px}
  .django-round-large{border-radius:8px}
  .django-round-xlarge{border-radius:16px}
  .django-round-xxlarge{border-radius:32px}
  .django-row-padding,.django-row-padding>.django-half,.django-row-padding>.django-third,.django-row-padding>.django-twothird,.django-row-padding>.django-threequarter,.django-row-padding>.django-quarter,.django-row-padding>.django-col{padding:0 8px}
  .django-container,.django-panel{padding:0.01em 16px}
  .django-panel{margin-top:16px;margin-bottom:16px}
  .django-code,.django-codespan{font-family:Consolas,"courier new";font-size:16px}
  .django-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
  .django-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
  .django-card,.django-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
  .django-card-4,.django-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
  .django-spin{animation:w3-spin 2s infinite linear}
  @keyframes w3-spin{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(359deg)}
  }
.django-animate-fading{animation:fading 10s infinite}
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
}
.django-animate-opacity{animation:opac 0.8s}
@keyframes opac{
  from{opacity:0}
  to{opacity:1}
}
.django-animate-top{position:relative;animation:animatetop 0.4s}
@keyframes animatetop{
  from{top:-300px;opacity:0} 
  to{top:0;opacity:1}
}
.django-animate-left{position:relative;animation:animateleft 0.4s}
@keyframes animateleft{
  from{left:-300px;opacity:0} 
  to{left:0;opacity:1}
}
.django-animate-right{position:relative;animation:animateright 0.4s}
@keyframes animateright{
  from{right:-300px;opacity:0} 
  to{right:0;opacity:1}
}
.django-animate-bottom{position:relative;animation:animatebottom 0.4s}
@keyframes animatebottom{
  from{bottom:-300px;opacity:0} 
  to{bottom:0;opacity:1}
}
.django-animate-zoom {animation:animatezoom 0.6s}
@keyframes animatezoom{
  from{transform:scale(0)} 
  to{transform:scale(1)}
}
.django-animate-input{transition:width 0.4s ease-in-out}
.django-animate-input:focus{width:100%!important}
.django-opacity,.django-hover-opacity:hover{opacity:0.60}
.django-opacity-off,.django-hover-opacity-off:hover{opacity:1}
.django-opacity-max{opacity:0.25}
.django-opacity-min{opacity:0.75}
.django-greyscale-max,.django-grayscale-max,.django-hover-greyscale:hover,.django-hover-grayscale:hover{filter:grayscale(100%)}
.django-greyscale,.django-grayscale{filter:grayscale(75%)}
.django-greyscale-min,.django-grayscale-min{filter:grayscale(50%)}
.django-sepia{filter:sepia(75%)}
.django-sepia-max,.django-hover-sepia:hover{filter:sepia(100%)}
.django-sepia-min{filter:sepia(50%)}
.django-tiny{font-size:10px!important}
.django-small{font-size:12px!important}
.django-medium{font-size:15px!important}
.django-large{font-size:18px!important}
.django-xlarge{font-size:24px!important}
.django-xxlarge{font-size:36px!important}
.django-xxxlarge{font-size:48px!important}
.django-jumbo{font-size:64px!important}
.django-left-align{text-align:left!important}
.django-right-align{text-align:right!important}
.django-justify{text-align:justify!important}
.django-center{text-align:center!important}
.django-border-0{border:0!important}
.django-border{border:1px solid #ccc!important}
.django-border-top{border-top:1px solid #ccc!important}
.django-border-bottom{border-bottom:1px solid #ccc!important}
.django-border-left{border-left:1px solid #ccc!important}
.django-border-right{border-right:1px solid #ccc!important}
.django-topbar{border-top:6px solid #ccc!important}
.django-bottombar{border-bottom:6px solid #ccc!important}
.django-leftbar{border-left:6px solid #ccc!important}
.django-rightbar{border-right:6px solid #ccc!important}
.django-section,.django-code{margin-top:16px!important;margin-bottom:16px!important}
.django-margin{margin:16px!important}
.django-margin-top{margin-top:16px!important}
.django-margin-bottom{margin-bottom:16px!important}
.django-margin-left{margin-left:16px!important}
.django-margin-right{margin-right:16px!important}
.django-padding-small{padding:4px 8px!important}
.django-padding{padding:8px 16px!important}
.django-padding-large{padding:12px 24px!important}
.django-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.django-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.django-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.django-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.django-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.django-left{float:left!important}
.django-right{float:right!important}
.django-button:hover{color:#000!important;background-color:#ccc!important}
.django-transparent,.django-hover-none:hover{background-color:transparent!important}
.django-hover-none:hover{box-shadow:none!important}
/* Colors */
.django-amber,.django-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.django-aqua,.django-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.django-blue,.django-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.django-light-blue,.django-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.django-brown,.django-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.django-cyan,.django-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.django-blue-grey,.django-hover-blue-grey:hover,.django-blue-gray,.django-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.django-green,.django-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.django-light-green,.django-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.django-indigo,.django-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.django-khaki,.django-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.django-lime,.django-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.django-orange,.django-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.django-deep-orange,.django-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.django-pink,.django-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.django-purple,.django-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.django-deep-purple,.django-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.django-red,.django-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.django-sand,.django-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.django-teal,.django-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.django-yellow,.django-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.django-white,.django-hover-white:hover{color:#000!important;background-color:#fff!important}
.django-black,.django-hover-black:hover{color:#fff!important;background-color:#000!important}
.django-grey,.django-hover-grey:hover,.django-gray,.django-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.django-light-grey,.django-hover-light-grey:hover,.django-light-gray,.django-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.django-dark-grey,.django-hover-dark-grey:hover,.django-dark-gray,.django-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.django-pale-red,.django-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.django-pale-green,.django-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.django-pale-yellow,.django-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.django-pale-blue,.django-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.django-text-amber,.django-hover-text-amber:hover{color:#ffc107!important}
.django-text-aqua,.django-hover-text-aqua:hover{color:#00ffff!important}
.django-text-blue,.django-hover-text-blue:hover{color:#2196F3!important}
.django-text-light-blue,.django-hover-text-light-blue:hover{color:#87CEEB!important}
.django-text-brown,.django-hover-text-brown:hover{color:#795548!important}
.django-text-cyan,.django-hover-text-cyan:hover{color:#00bcd4!important}
.django-text-blue-grey,.django-hover-text-blue-grey:hover,.django-text-blue-gray,.django-hover-text-blue-gray:hover{color:#607d8b!important}
.django-text-green,.django-hover-text-green:hover{color:#4CAF50!important}
.django-text-light-green,.django-hover-text-light-green:hover{color:#8bc34a!important}
.django-text-indigo,.django-hover-text-indigo:hover{color:#3f51b5!important}
.django-text-khaki,.django-hover-text-khaki:hover{color:#b4aa50!important}
.django-text-lime,.django-hover-text-lime:hover{color:#cddc39!important}
.django-text-orange,.django-hover-text-orange:hover{color:#ff9800!important}
.django-text-deep-orange,.django-hover-text-deep-orange:hover{color:#ff5722!important}
.django-text-pink,.django-hover-text-pink:hover{color:#e91e63!important}
.django-text-purple,.django-hover-text-purple:hover{color:#9c27b0!important}
.django-text-deep-purple,.django-hover-text-deep-purple:hover{color:#673ab7!important}
.django-text-red,.django-hover-text-red:hover{color:#f44336!important}
.django-text-sand,.django-hover-text-sand:hover{color:#fdf5e6!important}
.django-text-teal,.django-hover-text-teal:hover{color:#009688!important}
.django-text-yellow,.django-hover-text-yellow:hover{color:#d2be0e!important}
.django-text-white,.django-hover-text-white:hover{color:#fff!important}
.django-text-black,.django-hover-text-black:hover{color:#000!important}
.django-text-grey,.django-hover-text-grey:hover,.django-text-gray,.django-hover-text-gray:hover{color:#757575!important}
.django-text-light-grey,.django-hover-text-light-grey:hover,.django-text-light-gray,.django-hover-text-light-gray:hover{color:#f1f1f1!important}
.django-text-dark-grey,.django-hover-text-dark-grey:hover,.django-text-dark-gray,.django-hover-text-dark-gray:hover{color:#3a3a3a!important}
.django-border-amber,.django-hover-border-amber:hover{border-color:#ffc107!important}
.django-border-aqua,.django-hover-border-aqua:hover{border-color:#00ffff!important}
.django-border-blue,.django-hover-border-blue:hover{border-color:#2196F3!important}
.django-border-light-blue,.django-hover-border-light-blue:hover{border-color:#87CEEB!important}
.django-border-brown,.django-hover-border-brown:hover{border-color:#795548!important}
.django-border-cyan,.django-hover-border-cyan:hover{border-color:#00bcd4!important}
.django-border-blue-grey,.django-hover-border-blue-grey:hover,.django-border-blue-gray,.django-hover-border-blue-gray:hover{border-color:#607d8b!important}
.django-border-green,.django-hover-border-green:hover{border-color:#4CAF50!important}
.django-border-light-green,.django-hover-border-light-green:hover{border-color:#8bc34a!important}
.django-border-indigo,.django-hover-border-indigo:hover{border-color:#3f51b5!important}
.django-border-khaki,.django-hover-border-khaki:hover{border-color:#f0e68c!important}
.django-border-lime,.django-hover-border-lime:hover{border-color:#cddc39!important}
.django-border-orange,.django-hover-border-orange:hover{border-color:#ff9800!important}
.django-border-deep-orange,.django-hover-border-deep-orange:hover{border-color:#ff5722!important}
.django-border-pink,.django-hover-border-pink:hover{border-color:#e91e63!important}
.django-border-purple,.django-hover-border-purple:hover{border-color:#9c27b0!important}
.django-border-deep-purple,.django-hover-border-deep-purple:hover{border-color:#673ab7!important}
.django-border-red,.django-hover-border-red:hover{border-color:#f44336!important}
.django-border-sand,.django-hover-border-sand:hover{border-color:#fdf5e6!important}
.django-border-teal,.django-hover-border-teal:hover{border-color:#009688!important}
.django-border-yellow,.django-hover-border-yellow:hover{border-color:#ffeb3b!important}
.django-border-white,.django-hover-border-white:hover{border-color:#fff!important}
.django-border-black,.django-hover-border-black:hover{border-color:#000!important}
.django-border-grey,.django-hover-border-grey:hover,.django-border-gray,.django-hover-border-gray:hover{border-color:#9e9e9e!important}
.django-border-light-grey,.django-hover-border-light-grey:hover,.django-border-light-gray,.django-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.django-border-dark-grey,.django-hover-border-dark-grey:hover,.django-border-dark-gray,.django-hover-border-dark-gray:hover{border-color:#616161!important}
.django-border-pale-red,.django-hover-border-pale-red:hover{border-color:#ffe7e7!important}
.django-border-pale-green,.django-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.django-border-pale-yellow,.django-hover-border-pale-yellow:hover{border-color:#ffffcc!important}
.django-border-pale-blue,.django-hover-border-pale-blue:hover{border-color:#e7ffff!important}
