/*fichier header.less*/ 
/*GPL V3*/

// Variables
@backgroundcolor: #f0d6d6;

header[role='banner']{
    p { 
        background: @backgroundcolor; padding: 0.5em;
        text-align: center;
    }; 
}
 
